left2-color {
  background-color: #642a94; }

left1-color {
  background-color: #4c2d9e; }

dom-color {
  background-color: #2d2d87; }

right1-color {
  background-color: #2d4b9e; }

right2-color {
  background-color: #2a6294; }
