
#bubble-banner {
      background-image: url('../images/bubble-logo-large-transparent.png');
      background-size: 230px;
      background-color: #2D2D87;
      background-repeat: no-repeat;
      height: 200px;
      background-position: 0 2px;
      margin-bottom: 32px;
      min-width: 986px;
      position: relative;
      z-index: 5;
       font-size: 16px;
    }
