@(eventForm: Form[Event])

@main("Event Form") {

<script src="@routes.Assets.at("javascripts/react/react.js")"></script>
<script src="@routes.Assets.at("javascripts/react/JSXTransformer.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui/jquery-ui.min.js")"></script>

    <div id="eventsBox" class="small-2 columns">
    </div>

    <script>
      $(function() {
            $( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
    });
    </script>

<form class="row" action="@routes.Application.save" method="post">
    <div class="small-8 columns" >
        @helper.inputText(eventForm("title"))
        @helper.inputText(eventForm("location"))
        @helper.textarea(eventForm("description"))
        <!--@helper.inputDate(eventForm("displayFrom"))-->
        <!--@helper.textarea(eventForm("displayUntil"))-->
     <div class="small-4 columns">Display from:
         <input name="displayFrom" id="displayFrom" type="date" class="datepicker">
     </div>
     <div class="small-4 columns">
        until
         <input name="displayUntil" id="displayUntil" type="date" class="datepicker"></div>
    </div>
    <div class="row">
        <button class="small-12 centered" type="submit">Save</button>
    </div>
</form>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/event-list.js")" ></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/events-box.js")" ></script>
}