@main("Event Form") {

<form id="loginForm" action="/login" method="POST">
    <input type="hidden" id="id"/>
</form>

<div class="g-signin2 small-centered column small-1" data-onsuccess="onSignIn"></div>

<a href="#" onclick="signOut();">Sign out</a>

<script>
    function onSignIn(googleUser) {
          console.log("id value before change: " + document.getElementById("id").value)
          document.getElementById("id").value = googleUser.getBasicProfile().getId();
          console.log("posting " + googleUser.getBasicProfile().getId() + "to server");
          console.log("id value after change: " + document.getElementById("id").value)
          document.getElementById("loginForm").submit();
    }
</script>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


<script src="https://apis.google.com/js/client:platform.js" async defer></script>
<meta name="google-signin-client_id"
      content="347923709382-r0flg6bnis72vg1hur50jv94epcgvv71.apps.googleusercontent.com">
}