@(message: String)

@main("Welcome to Play") {

<section>
    <a class="twitter-timeline small-10 column small-centered"
    href="https://twitter.com/iPolding"
    data-widget-id="572746982012493824">
        Loading tweets...
    </a>
    <script>
! function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");
</script>
</section>

}