html, body, #container { height: 70%; }

#bubble-banner {
      /*background-image: url('../images/logo_rework.svg');*/
      background-size: 15%;
      /*background-color: #2D2D87;*/
      background-repeat: no-repeat;
      height: 100px;
      background-position: 0 2px;
      min-width: 986px;
      font-size: 16px;
      display: block;
    }

#bubble-banner-nav {
      /*background-color: #1371b7;*/
}

.nav-button {
        background:#2D2D87;
        margin:0px;
        color:white;
        height:100px;
        font-color:white;
}

.nav-icon {
    height:50px;

}

#page-footer {
    height: 100px;
    color: grey;
    background-color: black;
}

.error {
    color : red
}

.nav-label {
    display: none
}

.nav-button:hover label {
    display: block;
    color: white;
}