@main("The Public Bubble") {

<div class="row">
        <h1 class="large-centered column">The Public Bubble</h1>
        <img class="large-3 columns" src="http://placehold.it/400x240&text=[place holder]"/>
        <p class="large-9 columns">
        The Public Bubble is run by and for young people on public sector graduate schemes.
        <br/>
        <br/>
        It aims to foster closer ties and share knowledge between public sector employees by running events for both networking and socialising.
        <br/>
        <br/>
        Participants include trainees on the Civil Service Fast Stream, the Local Government Association’s NGDP scheme, and Teach First.
        </p>
</div>


}