@(blogs: Seq[Blog])

@main("Blogs") {


<div class="row">
<nav class="sidebar">
    @for(blog <- blogs.tail) {

    <h3>@blog.title</h3>
    <br/>
    <strong>@blog.intro</strong>
    }
</nav>

    <section>
        <!--<div style="background:blue">-->
            <div class="row">
                <div class="small-10 small-centered column" >
                <h3>@{blogs.head.title}</h3>
                <h6>by @{blogs.head.author}</h6>
                </div>
            </div>
        <!--</div>-->
        <div class="row">
            <div class="small-10 small-centered column">
                <i style="color:#1371b7">
                    @{blogs.head.title}
                </i>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered column">
                <img src="@{blogs.head.image1Url}"> <!-- http://placehold.it/800x370&text=[img] -->
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered columns">
                @Html(blogs.head.content)
            </div>
        </div>
    </section>
</div>
}