@(blog: Blog)

@main("Welcome to Play") {

<div class="row">
    <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]">
    </div>
    <section class="large-8 columns">
        <h1>@{blog.title}</h1>
        <h2>@{blog.author}</h2>
        <div class="row">
            <div class="large-6 columns">
                @{blog.content}
            </div>
        </div>
</div>

    <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]">
    </div>
</div>

<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../../assets/js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<script src="../assets/js/templates/jquery.js"></script>
<script src="../assets/js/templates/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

}
