@(mainBlog : Blog, remainingBlogs: Seq[Blog])

@main("Blogs") {


<div id="blogPage" class="row">
    <div class="large-3 columns">
    <div class="sidebar">
    <div class="hide-for-small">

        <nav class="side-nav ">
        @for(blog <- remainingBlogs) {

        <h3><a href="/blog/@blog.id">@blog.title</a></h3>
        <p>@blog.intro</p>
        }
        </nav>
    </div>
    </div>
    </div>
<section>

    <div class="large-9 columns" >
                <h3>@{mainBlog.title}</h3>
                <h6>by @{mainBlog.author}</h6>
                <i style="color:#1371b7">
                    @{mainBlog.title}
            <div>
                <img class="img-responsive" src="@{mainBlog.image1Url}"> <!-- http://placehold.it/800x370&text=[img] -->
            </div>
            <div>
                <p>@Html(mainBlog.content)</p>
            </div>
    </section>
</div>
}