@(blogForm: Form[BlogFormData])(implicit messages: Messages)

@main("Blog Form") {

@wysiwyg()

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<div id="blogsBox" class="small-2 columns"></div>

<form class="row" id="blogForm" action="@routes.BlogsController.save" method="post">
    <div class="small-8 columns small-centered" >
        @helper.input(blogForm("id"), '_label -> "ID", 'readonly -> "readonly", '_help -> "") { (id, name, value, args) =>
        <input class="form-control" type="text" name="@name" id="@id" @toHtmlArgs(args)>
        }
        @helper.input(blogForm("title"), '_label -> "Title") { (id, name, value, args) =>
        <input class="form-control" type="text" name="@name" id="@id" @toHtmlArgs(args)>
        }
        @helper.inputText(blogForm("author"), 'class -> "form-control", '_label -> "Author")
        @helper.inputText(blogForm("intro"), 'class -> "form-control", '_label -> "Intro")
        @helper.inputText(blogForm("content"), 'class -> "form-control", '_label -> "Description", 'id -> "wysiwyg-editor")
        @defining(java.time.LocalDateTime.now().toString.substring(0,10)) { today =>
        @helper.inputDate(blogForm("publishDate"), '_help -> "", 'class -> "form-control", '_label -> "Publish Date")
        }
    </div>
    <div class="row">
        <button id="saveButton" class="small-12 centered" type="submit">Save</button>
    </div>
</form>

<script type="text/jsx" src="@routes.Assets.at("javascripts/components/entity-list.js")" ></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/blogs-components.js")" ></script>
@if(!blogForm.value.isEmpty) {
<script src="@routes.Assets.at("javascripts/foundation/foundation.alert.js")" defer></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/image-upload-button.js")" defer></script>
<div id="imageUpload"></div>
<script type="text/jsx">
    React.render(
        <ImageUploadButton imageUploadUrl="@routes.BlogsController.uploadImage"/>,
        document.getElementById('imageUpload')
    );
    </script>
    }
}