@(mainEvent : Event, remainingEvents: Seq[Event])

@main("Events") {
<div id="eventPage" class="row">
    <div class="large-3 columns">
        <div class="sidebar">
            <div class="hide-for-small">

                <nav class="side-nav ">
                    @for(event <- remainingEvents) {

                    <h3><a href="/event/@event.id">@event.title</a></h3>
                    }
                </nav>
            </div>
        </div>
    </div>
    <section>

        <div class="large-9 columns" >
            <h3>@{mainEvent.title}</h3>
            <h3>@{mainEvent.location}</h3>
            <>@if(mainEvent.startTime.toLocalDateTime.getDayOfYear == mainEvent.endTime.toLocalDateTime.getDayOfYear) {
                @{mainEvent.startTime.format("EEEE dd MMMM yyyy")}<br/>
                    @{s"""
                        ${mainEvent.startTime.format("h:mm aa")} until ${mainEvent.endTime.format("h:mm aa")}"""}
                } else {
                @{mainEvent.startTime.format("EEEE dd MMMM yyyy h:mm aa")}<br/>
                until <br/>
                @{mainEvent.endTime.format("EEEE dd MMMM yyyy h:mm aa")}
                }
                </h6>
                <div>
                    <img src="@{mainEvent.image1Url}"> <!-- http://placehold.it/800x370&text=[img] -->
                </div>
                <div>
                    <p>@Html(mainEvent.description)</p>
                </div>
    </section>
</div>
}