@import play.api.Play
@import util.GooglePlace

@(googlePlace : GooglePlace)

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=@{Play.current.configuration.getString("google.api.browserKey")}"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/google-map.js")" defer></script>
    <div id="map"></div>
    <script type="text/jsx">
                        React.render(<GoogleMap lat={@{googlePlace.coords._1}} lng={@{googlePlace.coords._2}}/>, document.getElementById("map"));
    </script>
