@(frontpage : StaticPage, members: Seq[Member])

@main("The Public Bubble") {

<div class="row">
    <h1 class="text-center column">The Public Bubble</h1>
    <img class="img-responsive"
         src="@frontpage.imageUrl"/>

    <p class="large-9 columns">
        @Html(frontpage.content)
    </p>

    <h2>The Team</h2>

    The Public Bubble is run by a committee of volunteers, and we’re all public sector graduates from

    across a range of schemes.
    <br/><br/>

    <div class="container">

        <div class="row">
            @for(member <- members.sortWith(_.position < _.position)) {

            <div class="col-xs-6">
                <img class="headshot"
                     src="@member.imageUrl"/>
                <h4>@member.description</h4>
            </div>
            }
        </div>
    </div>
</div>
</div>


}