@(eventForm: Form[EventFormData])(implicit messages: Messages)

@contentCreator("Event Form") {

<div class="g-signin2" data-onsuccess="onSignIn"></div>

@if(!eventForm.value.isEmpty){
<button id="newEvent" onclick="window.location = '/create/event';">
    Create new event
</div>
}
<div id="eventsBox" class="columns small-2 columns"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<form class="row" id="eventForm" action="@routes.EventsController.save" method="post">
        <div class="columns small-8" >

        @helper.inputText(eventForm("id"), 'class -> "form-control", '_label -> "ID", 'readonly -> "readonly", '_help -> "")
        @helper.inputText(eventForm("title"), 'class -> "form-control", '_label -> "Title")
        @helper.inputText(eventForm("location"), 'class -> "form-control", '_label -> "Location")
        <script>
            var autoCompleteAddressBox = new google.maps.places.Autocomplete(document.getElementById("location"), null);
        </script>


        <script>
            var autoCompleteAddressBox = new google.maps.places.Autocomplete(document.getElementById("location"), null);
        </script>

        @helper.input(eventForm("startTime"), '_label -> "Start Time", '_help -> "" ) { (id, name, value, args) =>
                <input class="form-control" type="datetime-local" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
        @helper.input(eventForm("endTime"), '_label -> "Start Time", '_help -> "" ) { (id, name, value, args) =>
                <input class="form-control" type="datetime-local" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
        }
        @helper.inputText(eventForm("description"), 'class -> "form-control", '_label -> "Description", '_help -> "", 'id -> "wysiwyg-editor")
    </div>
    <div class="row">
        <button id="saveButton" class="columns small-12" type="submit">Save</button>
    </div>
</form>

<script type="text/jsx" src="@routes.Assets.at("javascripts/components/event-list.js")" ></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/events-components.js")" ></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/events-calendar.js")" ></script>

@if(!eventForm.value.isEmpty) {
<script src="@routes.Assets.at("javascripts/foundation/foundation.alert.js")" defer></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/image-upload-button.js")" defer></script>
<div id="imageUpload"></div>
<script type="text/jsx">
    React.render(
        <ImageUploadButton imageUploadUrl="@routes.EventsController.uploadImage"/>,
        document.getElementById('imageUpload')
    );

    React.render(
            <EntityList dataSourceUrl="/events/all" entityName="event"/>,
            document.getElementById('eventsBox')
        );
    </script>
}
}