@(blogForm: Form[BlogFormData])(implicit messages: Messages)
@contentCreator("Blog Form") {

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<div id="blogsBox" class="small-2 columns"></div>
<div class="row">
    @if(!blogForm.value.isEmpty) {
    <div class="small-8 columns small-centered" id="imageUpload"></div>
    }
</div>

<form class="row" id="blogForm" action="@routes.BlogsController.save" method="post">
    <div class="columns small-8 small-centered">
        @helper.inputText(blogForm("id"), 'class -> "form-control", '_label -> "ID", 'readonly -> "readonly", '_help -> "")
        @helper.inputText(blogForm("title"), 'class -> "form-control", '_label -> "Title")
        @helper.inputText(blogForm("author"), 'class -> "form-control", '_label -> "Author")
        @helper.inputText(blogForm("intro"), 'class -> "form-control", '_label -> "Intro")
        @helper.inputText(blogForm("content"), 'class -> "form-control", '_label -> "Description", 'id -> "wysiwyg-editor")
        @defining(java.time.LocalDateTime.now().toString.substring(0,10)) { today =>
        @helper.inputDate(blogForm("publishDate"), '_help -> "", 'class -> "form-control", '_label -> "Publish Date")
        }
    </div>
    @if(blogForm.value.isEmpty) {
    <div class="small-8 columns small-centered alert-box info">
        You can add images once a blog has been saved successfully.
    </div>
    }
    <div class="row">
        <button id="saveButton" class="columns small-6" type="submit">Save</button>
    </div>
</form>

<script type="text/jsx" src="@routes.Assets.at("javascripts/components/entity-list.js")" ></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/blogs-components.js")" ></script>
@if(!blogForm.value.isEmpty) {
<script src="@routes.Assets.at("javascripts/foundation/foundation.alert.js")" defer></script>
<script type="text/jsx" src="@routes.Assets.at("javascripts/components/image-upload-button.js")" defer></script>
<script type="text/jsx">
    React.render(
        <ImageUploadButton imageUploadUrl="@routes.BlogsController.uploadImage" domainObject="blog"/>,
        document.getElementById('imageUpload')
    );
    </script>
}
}