@(committee : Seq[Member])

@contentCreator("Edit the frontpage") {
<script src="@routes.Assets.at("javascripts/vue/vue.js")"></script>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
   <h4 class="text-center">Edit the committee</h4>

    <form class="small-8 columns small-centered" id="comitee-updater" action="/update/committee" method="post" enctype="multipart/form-data">
    <person v-for="(person, index) in people" v-on:shift="changePosition" v-on:bye="removePerson" v-bind:person="person" v-on:edit="editPerson" class="row" v-bind:index="index"></person>

    <div v-on:click="addPerson">New Member</div>
    <div v-on:click="addPerson">Save</div>
    <button>SUBMIT</button>
    </form>

<script>

const up = true
const down = false

var imageUploader = Vue.component('image-uploader', {
    template: '\<div>\
                  <img v-bind:height="this.previewheight" v-bind:width="this.previewwidth" style="display: block" v-bind:src="this.image" />\
                  <input v-on:change="this.readURL" type="file" v-bind:name="this.inputLabel" />\
                </div>',
    props: ['image', 'previewheight', 'previewwidth', 'inputLabel'],
    methods: {
        readURL: function (e) {
            if (e.target.files && e.target.files[0]) {
                console.log('file upload found')
                var reader = new FileReader();
                reader.onload = function (e) {
                    this.image = e.target.result;
                }.bind(this)
                this.$emit('updated')
                this.image = reader.readAsDataURL(e.target.files[0]);
            }
        }
    }
});


var person = Vue.component('person', {
    props: ['index', 'person'],
    data: function () {
        return {
            file: undefined,
            updateImage: false
        }
    },


    methods: {
        change: function (e) {

            console.log('change listener for value ' + e.target.value)
            console.log('change listener for person ' + JSON.stringify(this.person))
            this.person.description = e.target.value
            this.$emit('edit', this.person)
        },
        shift: function (direction) {
            this.$emit('shift', direction, this.person)
        },
        remove: function () {
            this.$emit('bye', this.person)
        },
        inputLabel: function (val) {
            return 'member[' + this.index + ']' + val
        },
        imageUrl : function () {
           return '/committee/' + this.person.technicalId + '/image'
        }
    },
    template: '<div class="">\
                    <div runat="server" style="border:solid 1px">\
                       <image-uploader v-bind:inputLabel="inputLabel(\'image\')" v-bind:image="imageUrl()" v-bind:previewheight="120" v-bind:previewwidth="120"></image-uploader>\
                       <input type="text" v-on:change="change" placeholder="Committee Position" v-bind:name="inputLabel(\'description\')" v-model="this.person.description"/>\
                       <input type="hidden" v-bind:name="inputLabel(\'position\')" v-bind:value="this.person.position" readonly/>\
                       <input  type="hidden" v-bind:value="this.person.technicalId" v-bind:name="inputLabel(\'id\')">\
                       <span v-on:click="shift(false)">&#x25b2;</span>\
                       <span v-on:click="shift(true)">&#x25bc;</span>\
                       <span v-on:click="remove">DELETE</span></div>\
                    </div>\
            </div>'
})

var committeeUpdater = new Vue({
    el: '#comitee-updater',

    data: function () {
        return {
            people: []
        }
    },
    updated: function () {
        console.log('updated')
        console.log('Update people' + JSON.stringify(this.people))

    },

    created: function () {
        var people = this.people
        var oReq = new XMLHttpRequest();
        oReq.onload = function () {
            console.log('calling listener')
            var ppl = JSON.parse(oReq.responseText)
            console.log('Loaded people' + JSON.stringify(ppl))
            this.people = ppl;
            this.sortPeople()
            var position = 0;
            this.people.forEach(p => {p.randomId = this.generateRandomId(); p.position = position++;})


        }.bind(this);
        oReq.addEventListener("load", this.reqListener);
        oReq.open("GET", "/json/committee");
        oReq.send();
    },

    beforeUpdate: function () {
        console.log('beforeUpdate')
        console.log(JSON.stringify(this.people))
    },
    methods: {

        sortPeople: function() {
          this.people.sort((a, b) => {
                return a.position - b.position
            })
        },
        generateRandomId: function () {
            return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
        },

        addPerson: function () {
            this.people.push({
                randomId: this.generateRandomId(),
                position: this.people.length
            })
            this.sortPeople()
        },

        editPerson: function (args) {
            console.log("change requested for " + JSON.stringify(args))
            let personIdx = this.people.findIndex((x) => (x.randomId == args.randomId))
            this.people[personIdx].description = args.description
            console.log(JSON.stringify(this.people));
        },

        changePosition: function(direction, person) {
          let neighbourNext     = this.people.find((x) => (x.position == person.position + 1))
          let storedPerson      = this.people.find((x) => (x.randomId == person.randomId))
          let neighbourPrevious = this.people.find((x) => (x.position == person.position - 1))

          console.log('changing position of ' + JSON.stringify(person))
            if (direction == up && neighbourNext) {
              storedPerson.position++ // promote self
              neighbourNext.position-- // demote neighbour

            } else if (direction == down && neighbourPrevious) {
              storedPerson.position--      // demote self
              neighbourPrevious.position++ // promote neighbour
            } else {console.log('Position cannot be moved down')}
            this.sortPeople()
        },
        removePerson: function (args) {
            if (confirm('Are you sure?')) {
              console.log('removing a person' + JSON.stringify(args))
              let personIdx = this.people.findIndex((x) => (x.randomId == args.randomId))
              let candidateDeletion = this.people[personIdx]
              console.log('splicing ' + personIdx)
              this.people.splice(personIdx, 1)
              this.$forceUpdate()
              if (candidateDeletion.technicalId) {

                  console.log('Delete request for ' + JSON.stringify(candidateDeletion))

                  this.deleteCommitteeMember(args);
              }
            }
        },

        deleteCommitteeMember: function (person) {
            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", this.reqListener);
            oReq.open("DELETE", "/json/committee/" + person.technicalId);
            oReq.send();
        }
    }
})



</script>


}