@(frontpage: StaticPage, commitee : Seq[Member])

@contentCreator("Edit the frontpage") {
<script src="@routes.Assets.at("javascripts/vue/vue.js")"></script>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<h4 class="text-center">Edit the intro page</h4>

<div class="row">

    <div class="small-8 columns small-centered">
        <input id="wysiwyg-editor" value="@frontpage.content"/>
    </div>
</div>

<h4 class="text-center">Edit the committee</h4>

    <div class="small-8 columns small-centered" id="app-4">
    <person v-for="person in people" v-on:bye="removePerson" class="row" imageUrl="person.imageUrl"></person>

    <button v-on:click="addPerson">New Member</button>
    <button v-on:click="addPerson">Save</button>

</div>

<script>
        var person = Vue.component('person', {
            props : ['imageUrl'],
            data: function () { return {file: undefined } },
            methods: {
                readURL: function (e) {
                    if (e.target.files && e.target.files[0]) {

                        console.log('file upload found')
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            this.imageUrl = e.target.result;
                        }.bind(this)

                        this.imageUrl = reader.readAsDataURL(e.target.files[0]);

                    }
                },
                remove: function () {
                    this.$emit('bye')
                }
            },
            template: '\
            <div class="">\
                    <form runat="server">\
                       <img class="headshot" style="display: block" id="blah" v-bind:src="this.imageUrl" alt="your image" />\
                       <input v-on:change="this.readURL" type="file" id="imgInp"/> \
                       <input type="text" placeholder="Committee Position" />\
                       <button v-on:click="remove">DELETE</button>\
                    </form>\
            </div>',


            created: function () {
                // `this` points to the vm instance
                console.log('a is: ' + this)
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                people: []
            },
            created: function () {
                var people = this.people
              var oReq = new XMLHttpRequest();
oReq.onload = function () {
console.log('calling listener')
    this.people = JSON.parse(oReq.responseText);
  }.bind(this);


               oReq.addEventListener("load", this.reqListener);
               oReq.open("GET", "/json/commitee");
               oReq.send();

            },
            methods: {
                addPerson: function () {
                    this.people.push(1)
                },
                removePerson: function () {
                    console.log('removing a person')
                }
            }
        })

</script>


}