@(frontpage: StaticPage, commitee : Seq[Member])

@contentCreator("Edit the frontpage") {
<script src="@routes.Assets.at("javascripts/vue/vue.js")"></script>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<h4 class="text-center">Edit the intro page</h4>

<div class="row">

    <form id="text-editor" class="small-8 columns small-centered" action="/update/frontpage" method="post" enctype="multipart/form-data">
        <image-uploader previewHeight="150" previewWidth="300"></image-uploader>
        <input id="wysiwyg-editor" value="@frontpage.content" name="intro"/>
        <button>Submit</button>
    </form>
</div>

   <h4 class="text-center">Edit the committee</h4>

    <form class="small-8 columns small-centered" id="app-4" action="/update/commitee" method="post" enctype="multipart/form-data">
    <person v-for="(person, index) in people" v-on:bye="removePerson" class="row" imageUrl="person.imageUrl" v-bind:index="index"></person>

    <div v-on:click="addPerson">New Member</div>
    <div v-on:click="addPerson">Save</div>
    <button>SUBMIT</button>
    </form>

<script>

        var imageUploader = Vue.component('image-uploader', {
          template: '\<div>\
                        <img height="this.previewHeight" width="this.previewWidth" style="display: block" id="blah" v-bind:src="this.imageUrl" />\
                        <input v-on:change="this.readURL" type="file" id="imgInp" v-bind:name="inputLabel" />\
                      </div>',
          props : ['imageUrl', 'previewHeight', 'previewWidth', 'inputLabel'],
          methods: {
          readURL: function (e) {
          if (e.target.files && e.target.files[0]) {
            console.log('file upload found')
            var reader = new FileReader();
            reader.onload = function (e) {this.imageUrl = e.target.result;}.bind(this)
            this.imageUrl = reader.readAsDataURL(e.target.files[0]);}
          }}});

        var person = Vue.component('person', {
        props : ['index'],
            data: function () { return {file: undefined } },
            methods: {

                remove: function () {
                    this.$emit('bye')
                },
                positionInputLabel : function () {
                   return 'member[' + this.index + ']position'
                },
                imageInputLabel : function () {
                   return 'member[' + this.index + ']image'
                }
            },
            template: '<div class="">\
                    <div runat="server">\
                       <image-uploader v-bind:inputLabel="imageInputLabel()"></image-uploader>\
                       <input type="text" placeholder="Committee Position" v-bind:name="positionInputLabel()"/>\
                       <div v-on:click="remove">DELETE</div>\
                    </div>\
            </div>',


            created: function () {
                // `this` points to the vm instance
                console.log('a is: ' + this)
            }
        })

        var textEditor = new Vue({el: '#text-editor'})

        var app4 = new Vue({
            el: '#app-4',
           data: function () {
                return {
                people: []
                    }
            },
            created: function () {
                var people = this.people
              var oReq = new XMLHttpRequest();
oReq.onload = function () {
console.log('calling listener')
    this.people = JSON.parse(oReq.responseText);
  }.bind(this);


               oReq.addEventListener("load", this.reqListener);
               oReq.open("GET", "/json/commitee");
               oReq.send();

            },
            methods: {
                addPerson: function () {
                    this.people.push(1)
                },
                removePerson: function () {
                    console.log('removing a person')
                    this.people.pop()
                }
            }
        })

</script>


}