@(message: String)

@main("The Public Bubble") {

<section>
    <div style="width:500px; margin-left: auto; margin-right: auto;">
    <a class="twitter-timeline"
       href="https://twitter.com/publicbubble"
       data-widget-id="572889086744084480"

            >Loading Tweets by @@publicbubble...</a>
    </div>
    <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs");
</script>
</section>

}